/* importing Tailwind CSS libraries */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');


body {
    background-color: #012a48;
    font-family: 'Titillium-Web', sans-serif;
}

.slick-dots li button:before {
    /* position: relative; */
    color: white !important;
    /* font-size:larger !important; */
    font-size: 20px;
    line-height: 20px;
    z-index: 1 !important;
}

.slick-slide > div {
    display: grid;
    place-items: center;
    margin-top: 50px;
    margin: auto;
    padding: 0px;
}

@media screen 
  and (min-width: 951px) 
  and (max-width: 1170px){
    .resumeSchool {
        margin-top: 8px !important;
    }
    .resumeWork {
        margin-top: 4px !important;
    }
}